/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-green: #009900;
  --color-green-active: #99ff99;
  --color-green-em: #00ff00cc;
  --color-dark: #ffffff33;
  --color-gray: #ffffff66;

  --color-silver: #9999cc;
  --color-gold: #ffff66;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('./SourceCodePro-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #cccccc;
  background: #0f0f23;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}